.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.menu__link {
    display: block;
    padding: 5px;
    margin: 5px;
    background-color: rgba(255, 253, 253, 0.99);
    color: rgb(146, 66, 158);
    text-decoration: none;
    line-height: 1.2;
    font-weight: bold;
    transition: 0.25s ease;
    font-size: 25px;
}

.header__login {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: rgb(95, 103, 110);
    color: rgb(146, 41, 134);
    text-decoration: none;
}       

.header__logo-wrap {
    text-decoration: none;
    color: rgb(0, 80, 121);
}

.header__title {
    margin: 0;
    color: rgb(146, 66, 158);
}

.header {
    display: fixed;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px;
}

.header__button {
    width: 100px;
    height: 45px;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    padding: 8px 20px;
    color: #FFF;
    background-color: #92429E;
    border-radius: 30px;
    letter-spacing: 0px;
    text-transform: uppercase;
    transition: all .5s ease; 
}

.header__button:hover {
    letter-spacing: 2px; 
    background-color: #92429E;
    color: #fff;
    box-shadow: #92429E 0px 7px 29px 0px;
}

.header__button:active { 
    letter-spacing: 2px;
    background-color: #92429E;
    color:#fff;
    box-shadow: #92429E 0px 0px 0px 0px;
    transform: transleteY(10px);
    transition: 100ms;
}

.header-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1600px;
    margin: 20px auto;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px #92429E;
    padding: 20px;
    margin-bottom: 10px ;
}
       

       
       